.landing-container {
  text-align: center;
  margin-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #005fcb;
}
